* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: Poppins;
}

ul > a > li {
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

div > ul {
    display: inline-block;
}

.header{
    align-items: center;
    opacity: 0.9; 
    box-shadow: 0px 9px 41.3px 1.7px rgba(48, 47, 50, 0.1); 
    background-image: linear-gradient(to right, #0c2f6a, #171289, #2050a9, #392192);
   /* height: 110px; */
}

.inner_header{
    padding: 30px;
    justify-content: center;
}

.textBtn{
    border-radius: 10px;
    box-shadow: 0px 9px 21.3px 0.7px rgba(34, 9, 92, 0.27);
    padding: 10px;
    margin-left: 50px; 
    border: 1px solid #3cdeb9;
    width: 200px;
    text-align: center;
    color:white; 
    text-decoration: none;
}

.navigation {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.maximize{
    display: grid;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.logosSecond{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 1rem;
    width: 1400px;
}

.logoService{
    margin-bottom: 2rem;
}

.columnsSecond{
   width:25%;
  
   text-align: center;
}

.logo_container{
    margin-right:169px;
}

#languageSelect{
    padding: 10px; 
    width: 200px;
}

#languageSelect > a{
    color:white; 
    text-decoration: none;
}

.firstCont{
    background-size: cover; 
    background-repeat: no-repeat; 
    width:100%;
    height: 762px;
}

.secondCont{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.contItem{
    text-align: center;
}

.thirdContainer {
    box-shadow: 0px 9px 41.3px 1.7px rgba(48, 47, 50, 0.1);
    background-image: linear-gradient(to top, #dee2ee, #f6f9ff);
    width:100%;
    
}

.card{
    margin-bottom:35px;
    margin-right:35px;
}

.firstContFromThird{
    padding: 5rem 0rem 5rem 15rem; 

}

.inRow{
    display: flex; 
    flex-direction: row;
    margin: 0;
    padding: 0;
}

.fourthContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    object-fit: contain;
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-size: cover; 
    background-repeat: no-repeat; 
    width:100%; 
  /*  height: 745px; */
}

footer{
    padding: 3rem 20rem 3rem 20rem;
}